/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
} */

/* header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* header .logo {
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
} */

/* .container {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
} */


/* nav a {
    list-style: none;
    display: inline-grid;
    padding: 15px 65px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.4s;
    text-decoration: none;
} */

/* nav a::after {
    content: '';
    background: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
} */


/* nav a:hover {
color: black;
}


nav a:hover::after {
    top: 50%;
    opacity: 1;
} */

.main {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}


.main.active {
    right: 300px;
}


.main video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.9;
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(20, 20, 20);
    mix-blend-mode: overlay;
} */

/* .text {
    position: relative;
    z-index: 10;
}

.text h2 {
    font-size: 3em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text h3 {
    font-size: 5em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
} 

.text p {
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

.text a {
    display: inline-block;
    font-size: 1em;
    background: rgb(207, 206, 206);
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: rgb(20, 20, 20);
    letter-spacing: 2px;
    transition: 0.2s;
}

.text a:hover {
    letter-spacing: 6px;
}

.social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
}

.social li a:hover {
    transform: scale(0.5) translateY(-15px);
}

.menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    position: relative;
}

.menu a {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-size: 24px;
    color: #111;
}

.menu a:hover {
    color: #03a9f4;
}

@media (max-width: 991px) {

    .main,
    .main header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}*/

/* Estilos generales de texto */
.text h2, 
.text h3,
.text p i, 
.text p:last-of-type { 
    color: #FFD700; /* Color amarillo */
    transition: transform 0.3s ease, font-size 0.3s ease; /* Suaviza el cambio de tamaño */
}


.text h2:hover, 
.text h3:hover {
    transform: scale(1.2); /* disminuye el tamaño */
    font-size: 2.5em; /* disminuye el tamaño de la fuente */
}

/* Tamaño inicial del ícono de WhatsApp */
.whatsapp-icon {
  font-size: 24px;
  color: #25D366; /* Color verde de WhatsApp */
  transition: transform 0.3s ease; /* Suaviza el cambio de tamaño */
  margin-right: 10px; /* Espacio entre el icono y el texto */
  vertical-align: middle;
}

.whatsapp-icon:hover {
  transform: scale(1.5); 
  color: #25D366; 
}
